<div class="container my-4">
    <h1 class="text-center text-primary">SHOP - Real time Products</h1>
    <li class="btn btn-primary">
        <!-- Aquí va el enlace que será actualizado por JS -->
        <a class="text-white" id="goToCartLink" href="#">Go to cart</a>
    </li>
</div>

{{!-- //FILTROS --}}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <label for="categoryFilter" class="form-label">Filtrar por Categoría:</label>
            <select id="categoryFilter" class="form-select">
                <option value="">Todas</option>
                <option value="rebars">Rebars</option>
                <option value="beams">Beams</option>
                <option value="steelshets">Steel Sheets</option>
                <option value="powertools">Power Tools</option>
            </select>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="productsTable">
        {{!-- Aquí se renderizarán las cartas de productos --}}
    </div>
</div>


<!-- Paginación -->
<div class="container text-center my-4">
    <button id="prevPage" class="btn btn-secondary mx-2" disabled>⟨ Anterior</button>
    <span id="pageInfo"></span>
    <button id="nextPage" class="btn btn-secondary mx-2" disabled>Siguiente ⟩</button>
</div>

<script>
    // Recuperar el cart.id del localStorage
    const id_carrito = localStorage.getItem('cid');
    
    // Si hay un cartId, actualizar la URL del enlace
    const goToCartLink = document.getElementById("goToCartLink");
    
    if (id_carrito) {
        // Actualizamos la URL del enlace con el cart.id
        goToCartLink.href = `http://localhost:8080/products/realtimeProducts/cart/${id_carrito}`;
        console.log('Cart ID desde localStorage:', id_carrito);
    } else {
        console.log('No se encontró un cart ID en localStorage');
    }
</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
