<h1>{{title}}</h1>
<ul>
  <li class="btn btn-primary"><a class="text-white" href="/api/products/menu">Menu</a></li>
  <li class="btn btn-primary"><a class="text-white" href="/api/products/getId">Producto por ID HTTP</a></li>
  <li class="btn btn-primary"><a class="text-white" href="/products/realtimeProducts">Ver Productos y agregar con Websocket</a></li>
</ul>